@import './variables.scss';
@import './basic.scss';

#app {
    height: 100vh;
}

.el-button--primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.el-button--text {
    color: $primary;
}
.text-danger {
    color: red;
}

// .el-checkbox__input.is-checked+.el-checkbox__label {
//     color: #E6A23C;
// }